NODE_ENV=development
PORT=4000

DATABASE_URL=postgres://postgres:postgres@localhost:5433/sad_alerte

JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_DAYS=14

COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:3000
DOCUMENTS_AI_API_KEY=change_me_documents_ai_key

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=change_me_sendgrid_api_key
SMTP_FROM=noreply@sadalerte.bf
